---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
  {
    date: "2024 - Presente",
    title: "Desarrollador Frontend Autónomo",
    description: "Desarrollo de un sistema de gestión de turnos para un cliente activo usando Angular, Tailwind CSS y Spring Boot. Actualmente trabajando en un landing page optimizado con Astro.",
    link: "https://sportcenter-turnos.vercel.app/empresas"
  },
  {
    date: "2020 - 2023",
    title: "Operador de Sistemas - Empresa de Ventas",
    description: "Gestioné ingresos de mercadería y optimicé procesos operativos durante 3 años, adquiriendo habilidades analíticas y de resolución de problemas.",
  },
  {
    date: "2023",
    title: "Pasantía Frontend - Angular.js",
    description: "Colaboré en el desarrollo de interfaces dinámicas con Angular.js, aplicando HTML, CSS y JavaScript en un entorno profesional.",
  },
]
---
<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    EXPERIENCE.map(experience => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>